<body>

<main>
    <div class="login">
        <h1>AgroAppCo</h1>
        <h2>Inicio de Sesion</h2>
        <p>Por favor ingrese su correo electronico</p>

        <form action="#" method="post">
            <label for="email"></label>
            <input type="email" name="" id="email" placeholder="Email">
            <br>
            <label for="pwd"></label>
            <input type="password" name="" id="pwd" placeholder="Contrasena">
            <br>
            <input class="init" type="submit" value="Iniciar Sesion">
        </form>

        <p>Continuar con</p>

        <a class="google" href="#"> <span><img class="icon" src="/img/google.svg"></span>Google</a>
        <br>

        <a class="politic" href="/v1/agroapp/terms-condition">Terminos y condiciones y <a class="politic" href="/v1/agroapp/policy">Politica de privacidad</a></a>
    </div>
</main>
</body>
