<app-header></app-header>
<div class="container">
  <div class="left-section">
    <h1>INFORMACIÓN</h1>
    <p>
        AgroAppCo S.A. (“AgroAppCo”) es una sociedad comercial domiciliada en la República de Colombia que, para los efectos del presente acuerdo de Términos y Condiciones, se entenderá como el “Comercializador” de una plataforma virtual que permite la exhibición y comercialización de frutas y verduras (“los Productos”) para la adquisición en línea de estos por parte de los consumidores (“Clientes” o “Usuarios”).
    </p>

    <h2>NATURALEZA JURÍDICA</h2>
    <p>
        Los presentes términos y condiciones de uso regulan la relación contractual de carácter comercial que une a los Consumidores que acceden a la Plataforma virtual y al Vendedor, especialmente en la autorización de uso que otorga el Vendedor en favor de aquel.
    </p>

    <h2>DEFINICIONES</h2>
    <ul>
        <li><strong>Aplicación web:</strong> También conocida como “app”, es una plataforma desarrollada especialmente para ser ejecutada en dispositivos móviles como teléfonos celulares, tabletas y similares, en las tiendas virtuales de aplicaciones para Android y Apple (Play Store y App Store), administrada por AgroAppCo, que permite la comercialización de frutas y verduras.</li>
        <li><strong>Comercio Electrónico:</strong> Comprende el envío, transmisión, recepción y almacenamiento de mensajes de datos por vía electrónica. Las dudas que surjan respecto de la eficacia y validez de los mensajes de datos y demás actividades vinculadas al comercio electrónico se interpretarán de conformidad con la ley 527 de 1999.</li>
        <li><strong>Consumidores:</strong> Toda persona natural o jurídica que, como destinatario final, use la Plataforma para adquirir y disfrutar o utilizar productos, cualquiera que sea su naturaleza, para la satisfacción de una necesidad propia, privada, familiar o doméstica y empresarial cuando no esté ligada intrínsecamente a su actividad económica. Bajo el anterior concepto se excluyen del concepto de consumidor aquellas personas identificadas como revendedores o compradores mayoristas cuyo objeto sea la comercialización posterior de los productos que adquieren a través de la Plataforma.</li>
        <li><strong>Cookies:</strong> Cadenas de texto enviadas virtualmente que son almacenadas por el uso de la Plataforma por AgroAppCo, para la consulta de actividades y preferencias del Consumidor.</li>
        <li><strong>Datos personales:</strong> Facultad de acceso por parte de los Consumidores para conocer los productos y servicios exhibidos por AgroAppCo y ofrecidos por el Vendedor, así como la publicidad puesta a disposición en la Plataforma.</li>
        <li><strong>Mayor de edad:</strong> Persona natural mayor de dieciocho (18) años.</li>
        <li><strong>Mensajes de datos:</strong> La información generada, enviada, recibida, almacenada o comunicada por medios electrónicos, ópticos o similares, como pudieran ser, entre otros, el Intercambio electrónico de datos, correos electrónicos, entre otros.</li>
    </ul>
</div>


  <div class="right-section">
      <div class="image-container">
          <img src="assets/imagen.jpeg" alt="Imagen relacionada con el agro">
      </div>
  </div>
</div>
<app-footer></app-footer>
