main{
  margin-left: 270px;
  margin-right: 270px;
  margin-top: 200px;
  margin-bottom:50px;
  border : 1px solid red;
  border-radius: 10px;
}

h1{
  margin: 100px;
  text-align: center;
}


div{
  border: 1px solid red;
  margin-top: 10px;
  border-radius: 10px;
}
