<app-header></app-header>
<div class="container">
  <div class="left-section">
    <h1>Política de Privacidad</h1>
    <h2>Aportando al agro colombiano</h2>
    <p>En AgroApp, nos comprometemos a proteger la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, usamos, y compartimos su información personal cuando utiliza nuestra plataforma.</p>

    <h3> Información que Recopilamos</h3>
    <p>Recopilamos información personal cuando usted se registra en nuestra plataforma, realiza un pedido, o se comunica con nosotros. Esta información puede incluir, pero no se limita a:</p>
    <ul>
        <li>Nombre</li>
        <li>Dirección de entrega</li>
        <li>Número de teléfono</li>
        <li>Correo electrónico</li>
        <li>Detalles de pago</li>
    </ul>

    <h3>Uso de la Información</h3>
    <p>Utilizamos su información personal para:</p>
    <ul>
        <li>Procesar y gestionar sus pedidos.</li>
        <li>Comunicarnos con usted sobre su pedido y responder a sus preguntas.</li>
        <li>Permitirle revisar los productos y negociar con los vendedores.</li>
        <li>Enviar actualizaciones sobre el estado de su pedido.</li>
    </ul>

    <h3>Protección de la Información</h3>
    <p>Implementamos medidas de seguridad adecuadas para proteger su información personal. Sin embargo, no podemos garantizar la seguridad absoluta de su información en línea.</p>

    <h3>Quejas y Reclamos</h3>
    <p>Si tiene alguna queja sobre su pedido o la calidad del producto recibido, puede comunicarse con nosotros al correo electrónico <strong>{{corre01}}</strong>. Nos comprometemos a responder a todas las quejas de manera oportuna y resolver cualquier inconveniente que pueda surgir.</p>

    <h3>Compartir Información</h3>
    <p>No vendemos ni alquilamos su información personal a terceros. Podemos compartir su información con proveedores de servicios que nos ayudan a operar nuestra plataforma, siempre que estén sujetos a obligaciones de confidencialidad.</p>

    <h3>Sus Derechos</h3>
    <p>Usted tiene derecho a acceder, corregir o eliminar su información personal. Si desea ejercer alguno de estos derechos, contáctenos a través de nuestro correo electrónico.</p>

    <h3>Cambios a esta Política</h3>
    <p>Podemos actualizar esta Política de Privacidad de vez en cuando. Le notificaremos sobre cambios sustanciales en la forma en que tratamos su información personal.</p>

    <h3>Contacto</h3>
    <p>Si tiene preguntas sobre esta Política de Privacidad, contáctenos a través de:</p>
    <ul>
        <li>Correo electrónico: <strong>{{correo2}}</strong></li>
    </ul>
</div>

  <div class="right-section">
      <div class="image-container">
          <img src="assets/imagen.jpeg" alt="Imagen relacionada con el agro">
      </div>
  </div>
</div>
<app-footer></app-footer>
