<footer>
  <div class="containerf">
    <div class="box-1">
      <h1>AgroAppCo</h1>
      <ul>
        <li><a href="/v1/agroapp/policy">POLÍTICA DE PRIVACIDAD</a></li>
        <li><a href="/v1/agroapp/terms-condition">TÉRMINOS Y CONDICIONES</a></li>
      </ul>
      <ul class="iconoss">
        <li>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </li>
      </ul>
    </div>


    <div class="box-2">
      <h5>Información de contacto</h5>
      <ul>
        <li>
          <a href="#"
            >¿QUIERES SER <br />
            NUESTRO PROVEEDOR?</a
          >
        </li>
        <li>
          <a href="#"
            >TRABAJA CON <br />
            NOSOTROS</a
          >
        </li>
      </ul>
    </div>

    <div class="box-3">
      <h5>Sede principal</h5>
      <ul>
        <li><a href="/v1/agroapp/about">NOSOTROS</a></li>
        <li><a href="#">CORPORATIVO</a></li>
      </ul>
    </div>
    <div class="box-3">
      <h5>Aceptamos cualquier medio de pago</h5>
      <img src="assets/pagos-1024x423.png" alt="Medios de pago" />
    </div>
  </div>
</footer>
